* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #2a628f;
  --secionday-color: #3e92cc;
  --accent-color: #13293d;
  --white-color: #ffffff;
  --black-color: #000000;
}
nav{
  position: absolute;
  right:calc(50vw - 104.33px/2);
  text-align: center;
  font-size: 1.3rem;
}
nav a{
  display: none;
  padding: 10px;
  line-height: 3rem;
  text-decoration: none;
  text-shadow: 0 0 10px black;
  color:var(--white-color);
}
#dropdown{
    display:none;
}
#dropdown:checked ~ a{
  display:block;
}
@media screen and (width > 760px) {
  #dropdown-graphics{
    display:none;
  }
  nav{
    right: 0;
  }
  nav a{
    display:inline-block;
  }
  
}